<div class="homeContainer">
    <nav class="navContainer">
        <div class="homeSide">
            <p class="">Home</p>
            
        </div>
        <div class="midSide">
            <input type="search" placeholder="Search.."/>
            <button class="btn btn-secondary">Search</button>
        </div>
        <div class="authSide"><button class="btn btn-primary">Logout</button></div>
    </nav>
    <h1>Wellcome logedin user</h1>
</div>