
    <div class="registerContainer">
        <h1>Registration</h1>
        <form action="/auth/register" method="post" class="formContainer">
            <div class="emailField">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter Your Email"/>
            </div>
            <br>
            <div class="passwordField">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"  placeholder="Enter Password">
            </div>
            <br>
            <button type="submit" value="Register" class="btn"> Submit </button>
        </form>
    </div>